[core]
    pager = delta
    editor = nvim
    autocrlf = input
    fsmonitor = true
    untrackedCache = true

[init]
    defaultBranch = main

[commit]
    verbose = true

[merge]
    conflictstyle = zdiff3
    tool = nvimdiff

[mergetool]
    prompt = false
    keepBackup = false

[mergetool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c 'wincmd w'"

[delta]
    side-by-side = true
    line-numbers = true
    navigate = true
    syntax-theme = "Monokai Extended"
    true-color = always
    plus-style = "syntax #003800"
    minus-style = "syntax #3f0001"
    file-style = bold yellow
    hunk-header-style = syntax bold underline
    whitespace-error-style = 22 reverse

[interactive]
    diffFilter = delta --color-only

[diff]
    tool = nvimdiff
    colorMoved = default
    algorithm = histogram

[difftool]
    prompt = false

[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[alias]
    a = add
    c = checkout
    b = branch
    d = diff
    p = push
    s = status
    l = log --oneline --graph
    u = reset HEAD --
    aa = add .
    da = !git add -N . && git diff
    dt = difftool
    mt = mergetool
    ri = rebase -i
    cc = commit
    cp = cherry-pick
    sw = switch
    sh = show
    po = push origin HEAD:refs/for/main
    pr = pull --rebase
    wt = worktree
    rt = restore
    pow = push origin HEAD:refs/for/main%wip
    can = commit --amend --no-edit
    wip = commit -m "wip"
    shh = show HEAD

[status]
    showUntrackedFiles = all

[push]
    autoSetupRemote = true

[fetch]
    prune = true
    writeCommitGraph = true

[feature]
    manyFiles = true

[rebase]
    autosquash = true
    autoStash = true
    updateRefs = true
    missingCommitsCheck = error

[pull]
    rebase = true

[rerere]
    enabled = true
    autoupdate = true

[branch]
    sort = -committerdate

[worktree]
    guessRemote = true
